.single{
  display: flex;
  width: 100%;

  .singleContainer{
      flex: 6;

      .top{
          padding: 20px;
          display: flex;
          gap: 20px;

          .left{
              flex: 1;
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
              border-radius: 5px;
              padding: 20px;
              position: relative;

              .editButton{
                  position: absolute;
                  right: 0;
                  top: 0;
                  padding: 5px;
                  font-size: 14px;
                  color: #6439ff;
                  background-color: #6439ff21;
                  cursor: pointer;
                  border-radius: 0 0 0 5px;
              }

              .item{
                  display: flex;
                  gap: 20px;

                  .itemImg{
                      width: 100px;
                      height: 100px;
                      border-radius: 50%;
                      object-fit: cover;
                  }

                  .details{
                      .itemTitle{
                          margin-bottom: 10px;
                          color: #555;
                      }
                      .detailItem{
                          margin-bottom: 10px;
                          font-size: 14px;

                          .itemKey{
                              margin-right: 5px;
                              font-weight: bold;
                              color: #555;
                          }

                          .itemValue{
                              font-weight: 300;
                          }
                      }
                  }
              }
          }

          .right{
              flex: 2;
          }
      }

      .bottom{
          padding: 20px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          margin: 10px 20px;
      }
      
      .title{
          font-size: 18px;
          color: #d3d3d3;
          margin-bottom: 20px;
        }
    }

}