.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;

    .left,.rigth{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(175, 175, 175);
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            width: max-content;
            font-size: 13px;
            border-bottom: 1px solid gray;
            cursor: pointer;

            &:hover{
                color: #6439ff;
                border-bottom-color: #6439ff;
            }
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 16px;

            &.positive{
                color: #008000;
            }
            &.negative{
                color: #ff0000;
            }
        }

        .icon{
          font-size: 25px;
          padding: 5px;
          border-radius: 5px;
          align-self: flex-end;
        }
    }
}