.navbar{
    height: 50px;
    border-bottom: 0.4px solid #e4e2e2;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid #e4e2e2;
            padding: 3px;
            
            input{
                border: none;
                outline: none;
                font-size: 15px;
                background-color: transparent;

                &::placeholder{
                    font-size: 13px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin: 20px;
                position: relative;
                
                

                .icon{
                    font-size: 23px;
                }

                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;

                }

                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;;
                    right: -5px;
                }
            }
        }        
    }
}