$dark-background: #222;
$dark-color:#9c9c9c;
$dark-border: #333;
$dark-color-navbar: #5331cc;

.app.dark{
    background-color: $dark-background;
    color: $dark-color;

    .chartGrid{
        stroke: #e4e4e438;
    }

    .table{
        background-color: $dark-background;

        .tableCell{    
            color: $dark-color;
        }
    }

    .navbar{
        color:#999;
        border-color: $dark-border;

        .search{
            border-color: $dark-border;    
        }
    }
    .sidebar{
        background-color: $dark-background;
        color: $dark-color;
        border-color: $dark-border;

        hr{
           border-color: $dark-border;
        }

        .top{
            .logo{
                color: $dark-color-navbar;
            }
        }

        .center{
             
            ul{
                li{
                    &:hover{
                        background-color: #4f2fc449;
                    }
                }
            }

            .icon{
                color: $dark-color-navbar;
            }
        }

        .bottom{
            .colorOption{
                border-color: $dark-color-navbar;
            }
        }
    }
    .datatable{
        .datagrid{
            color: $dark-color;
            border: none;

            .viewButton, .deleteButton{
                color: $dark-color;
                border: none;
            }

        }
    }

    input{
        background-color: transparent;
        color: $dark-color;
    }
}