.sidebar{
    flex: 1;
    border-right: 0.4px solid #e4e2e2;
    min-height: 100vh;
    background-color: #fff;

    .top{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }

    hr{
        height: 0;
        border: 0.4px solid #e4e2e2;
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 12px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{ 
                 background-color: #ece8ff;
                }

                .icon{
                    font-size: 18px;
                    color: #6439ff;
                }
                span{
                    font-size: 16px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #6439ff;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: #f5f5f5;
            }
            &:nth-child(2){
                background-color: #333;
            }
        }
    }
}