.new{
    width: 100%;
    display: flex;

    .newContainer{
        flex: 6;

        .top, .bottom{
            padding: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            margin: 20px;
            display: flex;

            h1{
                color: #d3d3d3;
                font-size: 25px;
            }

            .left{
                flex: 1;
                text-align: center;
                

                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right{
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput{
                        width: 40%;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid #6439ff;
                            outline: none;
                            transition: .1s ease-in-out;

                            &:focus{
                                border-bottom: 2px solid #6439ff;
                            }
                        }
                    }
                    button{
                        width: 175px;
                        padding: 10px;
                        border: none;
                        background-color: #6439ff;
                        color: #fff;
                        font-weight: 500;
                        cursor: pointer;
                        margin-top: 10px;

                        &:hover{
                            background-color: #5839cc;
                        }
                        
                    }
                }
            }
        }
    }

}