.table{
    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }

    }
    .status{

        padding: 5px;
        border-radius: 5px;
    
        &.Approved{
            color: #088000;
            background-color: #09800041;
        }
    
        &.Pending{
            color: #daa520;
            background-color: #daa5203f;
        }
    }
}